.Sidebar {
  width: 36%;
  background: var(--color-black10);
  padding: 40px 0;
}

.Sidebar h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0 30px;
  margin-bottom: 8px;
}

.Sidebar .search {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 16px;
  outline: none;
  padding: 8px 30px;
}