.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

h1, h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.Content {
  flex: 1;
  padding: 40px;
}

.Sidebar {
  width: 36%;
  background: var(--color-black10);
  padding: 40px;
}